openapi: 3.0.3
info:
  title: Licence Connect
  description: |-
    This is the MVP Api of licence connect
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.0.1
servers:
  - url: https://api.licenceconnect.schule/
tags:
  - name: licences
    description: Fetching Licences
paths:
  /v1/licences/request:
    post:
      description: Request the use for licenses for a specific application
      tags:
        - licences
      requestBody:
        description: Data for notifying LicenceConnect
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LicenceRequestedRequest"
      summary: Fetch all licences available for a specific user
      responses:
        "200":
          description: successfully fetch licences
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LicenceConnectResponse"
        "403":
          description: Forbidden
      security:
        - ApiKeyAuth:
            - read
            - write
  /v1/licences/release:
    post:
      description: Release a used license for a specific application
      tags:
        - licences
      requestBody:
        description: Information from VIDIS Core for the User
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LicenceRequestedRequest"
      summary: Fetch all licences available for a specific user
      responses:
        "200":
          description: successfully fetch licences
        "403":
          description: Forbidden
      security:
        - ApiKeyAuth:
            - read
            - write
components:
  schemas:
    LicenceRequestedRequest:
      type: object
      properties:
        userId:
          type: string
          example: "02e71a9d-d68d-3050-9a0d-5b963c06aec0"
        clientId:
          type: string
          example: "Angebot12345"
        schulkennung:
          type: string
          example: "DE-MV-SN-51201"
        bundesland:
          type: string
          example: "DE-MV"
    Licences:
      type: object
      properties:
        license_code:
          type: string
          example: "VHT-9234814-fk68-acbj6-3o9jyfilkq2pqdmxy0j"
    LicenceConnectResponse:
      type: object
      properties:
        hasLicences:
          type: boolean
          example: true
        licences:
          type: array
          items:
            $ref: "#/components/schemas/Licences"
      example:
        hasLicences: true
        licences:
          - license_code: "VHT-9234814-fk68-acbj6-3o9jyfilkq2pqdmxy0j"
          - license_code: "COR-3rw46a45-345c-4237-a451-4333736ex015"

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
