<configuration>
    <!-- Replace the Loki appender with a simple console out -->
    <appender name="LOKI" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- This matches the configuration of the loki appender in main/resources -->
            <pattern>app=licenceConnect,host=localhost,traceID=%X{traceId:-NONE},level=%level %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="LOKI"/>
    </root>
</configuration>
